 
{% extends '::base.html.twig' %}
{% block title%}InstaAppBundle:Security:login{% endblock %}

{% block body %}

{% if error %}
<div>{{ error.message }}</div>
{% endif %}

<div>
    <div>
        <form action="{{ path('login_check') }}" role="form" method="post">
            <h2>Connection</h2>
            <input type="text" id="username" name="_username" placeholder="User" value="" required autofocus>
            <input type="password" id="password" name="_password" placeholder="Password" required>
            <label>
                <input type="checkbox" value="remember-me"> Rester connecter
            </label>
            <button type="submit" id="_submit" name="_submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}