{% extends '::base.html.twig' %}

 {% block body %}
     <style>
         p{
             text-align: center;
         }
         .table_connect{
             margin : auto;
         }

     </style>
        <p>.: Connexion :.</p>
     
        {{ form(form) }}
 {% endblock %}
